*{
	box-sizing: border-box;
}

/*---------------LogIN-----------------*/
.login{
	width: 80%;
	height: 30vw;
	margin: auto;
	margin-top: 5vw;
	background-color: #8080ff;
	padding: 1vw;
	
}
.panels{
	width: 50%;
	float: left;
	height: 100%;
	text-align: center;
	color: white;
	
}
#leftPanel{
	border-right-style: solid;
	border-color: whtie;
	border-width: 2px;
	font-size: 5vw;
}
.created{
	font-size: 2vw;
}
.formCon{
	width: 65%;
	margin: auto;
	padding: 1vw;
	background-color: rgba(255,255,255,.2);
	border-radius: .5vw;
	margin-top: 4vw;
	border-color: #8000ff;
	border-width: 3px;
	border-style: solid;
	
}
.formElements{
	display: block;
	text-align: left;
	width: 100%;
	font-size: 1.2vw;
	color: white;
}

#education, #subject, #name{
	font-size: 1vw;
	padding: .5vw;
	border-radius: .5vw;
	border-style: none;
	margin-bottom: .5vw;
	color: #8000ff;
}
#name{
	font-size: 1.5vw;
}
#submitButton{
	text-align: center;
	padding: .5vw;
	border-radius: .5vw;
	font-size: 1.8vw;
	background-color: #8000ff;
	border: none;
	margin-top: 1vw;
}
#submitButton:hover{
	background-color: #400080;
	cursor: pointer;
}




/*---------------LogIN-----------------*/

/*---------------Questionaire-----------------*/
.mainCon{
    width: 80%;
    display: block;
    margin: auto;
    background-color: aliceblue;
  
}
.title{
    width: 80%;
    margin: auto;
    background-color:  #8000ff;
    font-size: 5vw;
    text-align: center;
    color: white;
	
}
.question{
    width: 80%;
    font-size: 3vw;
    text-align: left;
    background-color: white;
    margin:auto;
    padding: 1vw;
  	border: solid;
    border-color: #8000ff;
    
}
.questionAni{
	animation: ani;
	animation-duration: 2s;
	display:block;
}
@keyframes ani{
	 from {opacity: 0;}
	 to {opacity: 1;}
}
#choices{
	width: 80%;
	height:8vw;
    font-size: 1.5vw;
    text-align: left;
    background-color: white;
    margin:auto;
    border: solid;
    padding: .2vw;
    border-color: #8000ff;

   
}
.choice{
	width: 50%;
	background-color: #8000ff;
	float: left;
	padding: 1vw;
	padding-bottom: .5vw;
	border:solid;
	border-color: white;
	border-width:.2vw;
	color:white;
	border-radius: 5vw;
	animation: choiceAni;
	animation-duration: .5s;
	animation-timing-function: ease;
	cursor: pointer;
}
@keyframes choiceAni{
	 0% {transform: rotateX(0deg); background-color:white;}
	 10% {transform: rotateX(72deg);}
	 20% {transform: rotateX(144deg);}
	 30% {transform: rotateX(216deg);background-color:#8000ff;}
	 40% {transform: rotateX(288deg);}
	 50% {transform: rotateX(360deg);}
	 60% {transform: rotateX(72deg);}
	 70% {transform: rotateX(144deg);background-color:#8000ff;}
	 80% {transform: rotateX(216deg);}
	 90% {transform: rotateX(288deg);}
	 100% {transform: rotateX(360deg);}

}
.choice:hover{
	background-color: #7000e0;
}
#quizSummary{
	display: none;
	width: 80%;
	text-align: center;
	font-size: 3vw;
	margin: auto;
	
}
#checkerMessage{
	font-size: 3vw;
	text-align: center;
	border: solid;
	border-color: #8000ff;
	color:white;
}

#navigator{
	width: 80%;
	margin: auto;
	display: none;

}

.navButton{
	width: 100%;
	float: left;
	font-size: 3vw;
	padding: .5vw;
	padding-bottom: 0;
	background-color: #8000ff;
	cursor: pointer;
	text-align: center;
	color:white;
	display:block;

}
.navButton:hover{
	background-color: #7000e0;
}


.submit{
	width: 80%;
	text-align: center;
	font-size: 3vw;
	margin: auto;
	background-color: white;
	display:block;
}
#submitButtonQuestionnaire{
	font-size: 2vw;
	cursor: pointer;
	display: none;
	margin:auto;
}

/*---------------Questionaire-----------------*/
