:root{
	--percentWidth1:0%;
	--percentWidth2:0%;
	--percentWidth3:0%;
	--percentWidth4:0%;
	--percentWidth5:0%;
	--uiColor: black;
	--hoverColor: yellow;
	
	--subject1Color: #F0284A;
	--subject2Color: #1877F2;
	--subject3Color: #2ABBA7;
	--subject4Color: #f77825;
	--subject5Color: #9360F7;
	
	--hover1Color: #b31e37;
	--hover2Color: #1969d2;
	--hover3Color: #229b8b;
	--hover4Color: #c06021;
	--hover5Color: #6e47bd;
	
	
	--box1Color: var(--subject1Color);
	--box2Color: var(--subject1Color);
	--box3Color: var(--subject1Color);
	--box4Color: var(--subject1Color);
}


*{
	box-sizing: border-box;
}

/*---------------LogIN-----------------*/
.login{
	width: 80%;
	height: 30vw;
	margin: auto;
	margin-top: 5vw;
	background-color: #8080ff;
	padding: 1vw;
	
}
.panels{
	width: 50%;
	float: left;
	height: 100%;
	text-align: center;
	color: white;
	
}
#leftPanel{
	border-right-style: solid;
	border-color: whtie;
	border-width: 2px;
	font-size: 5vw;
}
.created{
	font-size: 2vw;
}
.formCon{
	width: 65%;
	margin: auto;
	padding: 1vw;
	background-color: rgba(255,255,255,.2);
	border-radius: .5vw;
	margin-top: 4vw;
	border-color: #8000ff;
	border-width: 3px;
	border-style: solid;
	
}
.formElements{
	display: block;
	text-align: left;
	width: 100%;
	font-size: 1.2vw;
	color: white;
}

#education, #subject, #name{
	font-size: 1vw;
	padding: .5vw;
	border-radius: .5vw;
	border-style: none;
	margin-bottom: .5vw;
	color: #8000ff;
}
#name{
	font-size: 1.5vw;
}
#submitButton{
	text-align: center;
	padding: .5vw;
	border-radius: .5vw;
	font-size: 1.8vw;
	background-color: #8000ff;
	border: none;
	margin-top: 1vw;
}
#submitButton:hover{
	background-color: #400080;
	cursor: pointer;
}




/*---------------LogIN-----------------*/

/*---------------Questionaire-----------------*/
.mainCon{
    width: 80%;
    display: block;
    margin: auto;
    background-color: aliceblue;
  
}
.title{
    width: 80%;
    margin: auto;
    background-color: var(--uiColor);
    font-size: 5vw;
    text-align: center;
    color: white;
	
}
.question{
    width: 80%;
    font-size: 3vw;
    text-align: left;
    background-color: white;
    margin:auto;
    padding: 1vw;
  	border: solid;
    border-color: var(--uiColor);
    
}
.questionAni{
	animation: ani;
	animation-duration: 2s;
	display:block;
}
@keyframes ani{
	 from {opacity: 0;}
	 to {opacity: 1;}
}
#choices{
	width: 80%;
	height:8vw;
    font-size: 1.5vw;
    text-align: left;
    background-color: white;
    margin:auto;
    border: solid;
    padding: .2vw;
    border-color: var(--uiColor);

   
}
.choice{
	width: 50%;
	background-color: var(--uiColor);
	float: left;
	padding: 1vw;
	padding-bottom: .5vw;
	border:solid;
	border-color: white;
	border-width:.2vw;
	color: white;
	border-radius: 5vw;
	animation: choiceAni;
	animation-duration: .5s;
	animation-timing-function: ease;
	cursor: pointer;
}
@keyframes choiceAni{
	 0% {transform: rotateX(0deg); background-color:white;}
	 10% {transform: rotateX(72deg);}
	 20% {transform: rotateX(144deg);}
	 30% {transform: rotateX(216deg);background-color: var(--uiColor);}
	 40% {transform: rotateX(288deg);}
	 50% {transform: rotateX(360deg);}
	 60% {transform: rotateX(72deg);}
	 70% {transform: rotateX(144deg);background-color: var(--uiColor);}
	 80% {transform: rotateX(216deg);}
	 90% {transform: rotateX(288deg);}
	 100% {transform: rotateX(360deg);}

}
.choice:hover{
	background-color: var(--hoverColor);
}
#quizSummary{
	display: none;
	width: 80%;
	text-align: center;
	font-size: 3vw;
	margin: auto;
	height: 10vw;
	border-left: solid;
	border-right: solid;
	border-color: var(--uiColor);
	
}
.spacer{
	width:100%;
	border-left: solid;
	border-right: solid;
	border-color: var(--uiColor);
	display: none;
	
}
#checkerMessage{
	font-size: 3vw;
	text-align: center;
	border: solid;
	border-color: var(--uiColor);
	color:white;
}

#navigator{
	width: 80%;
	margin: auto;
	display:none;
}

.navButton{
	width: 100%;
	float: left;
	font-size: 3vw;
	padding: .5vw;
	padding-bottom: 0;
	background-color: var(--uiColor);
	cursor: pointer;
	text-align: center;
	color:white;
	display:block;

}
.navButton:hover{
	background-color: var(--hoverColor);
}


#submit{
	width: 80%;
	text-align: center;
	font-size: 3vw;
	margin: auto;
	border: solid;
	border-top:none;
	border-color: #8000ff;
	display: none;
	padding:0;

	
}
#submitButtonQuestionnaire{
	font-size: 2vw;
	cursor: pointer;
	display: none;
	margin:auto;
	width:50%;
	background-color: #8000ff;
	color: white;
	border-radius: 2vw;
	border: none;
	padding:.1vw;
}

/*---------------Questionaire-----------------*/

/*---------------Summary & Statistics-----------------*/
#dataCon{
	border:solid;
	border-color: var(--uiColor);
	width: 80%;
	padding: .5vw;
	padding-bottom: 2vw;
	margin: auto;
	height:37vw;
;
}

.infoTag{
	font-size: 1vw;
	
}
.elValue{
	color: red;
	font-style: bold;
}

.flexOuter{
	display: flex;
	flex: 0 0 100%;
}

.questionSummary{
	width:45%;
}
.answerSummary{
	width:17%;

}
.resultSummary{
	width:8%;

}
.statsSummary{
	width:30%;
	border: none;
}
.summaryHead{
	float:left;
	padding:.2vw;
	text-align: center;
	font-weight: bolder;
	
}
.summaryRow{
	float:left;
	padding:.2vw;
	text-align: left;
}
.summaryHead, .summaryRow{
	border-right: solid;
	border-width: 1px;
	display: block;
	border-color:white;
	font-size: 1vw;
	
}

.head{
	background-color: #8000ff;
	color: white;
}
.odd{
	background-color: #8ed3f5;
}
.even{
	background-color: #c8e9fa;
}
.percentageBarOuter{
	width: 100%;
	background-color: #A3A9AD;
	text-align: center;
	position: relative;
	color: white;
}

.percentageBarInner{
	padding-bottom: 1.5vw;
	background-color: var(--uiColor);

}
#percentInner1{
	width: var(--percentWidth1);
	animation: percentAni1;
	animation-duration:2s;
	animation-timing-function: ease;
}
#percentInner2{
	width: var(--percentWidth2);
	animation: percentAni2;
	animation-duration:2s;
	animation-timing-function: ease;
}
#percentInner3{
	width: var(--percentWidth3);
	animation: percentAni3;
	animation-duration:2s;
	animation-timing-function: ease;
}
#percentInner4{
	width: var(--percentWidth4);
	animation: percentAni4;
	animation-duration:2s;
	animation-timing-function: ease;
}
#percentInner5{
	width: var(--percentWidth5);
	animation: percentAni5;
	animation-duration:2s;
	animation-timing-function: ease;
}

@keyframes percentAni1{
	from{width: 0}
	to{width: var(--percentWidth1)};
}
@keyframes percentAni2{
	from{width: 0}
	to{width: var(--percentWidth2)};
}
@keyframes percentAni3{
	from{width: 0}
	to{width: var(--percentWidth3)};
}
@keyframes percentAni4{
	from{width: 0}
	to{width: var(--percentWidth4)};
}
@keyframes percentAni5{
	from{width: 0}
	to{width: var(--percentWidth5)};
}
.percentageText{
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: black;
  	
}
/*---------------Summary & Statistics-----------------*/

/*---------------Others-----------------*/
.othersCon{
	width: 100%;
	border-top: solid;
	border-color: lightGray;
	border-width: 1px;
	margin-top: 1vw;
}
.leftHalf{
	width: 50%;
	float: left;
}
.try{
	font-size: 1vw;
	margin-bottom: .5vw;
	margin-top: 1vw;
}
.subjectsTry{
	width: 48%;
	background-color: red;
	border: solid;
	float: left;
	margin-right: .5vw;
	margin-bottom: .5vw;
	border: none;
	border-radius: .5vw;
	padding: .5vw;
	padding-bottom: 2vw;
	cursor: pointer;
}
.subjectName{
	font-size: 2vw;
	color: white;
	
}
.difficulty, .numberOfQuestions{
	font-size: 1vw;
}
.difficulty{
	color: white;
}
#oneTry{
	background-color: var(--subject1Color);
}
#oneTry:hover{
	background-color: var(--hover1Color);
}
#twoTry{
	background-color: var(--subject2Color);
}
#twoTry:hover{
	background-color: var(--hover2Color);
}
#threeTry{
	background-color: var(--subject3Color);
}
#threeTry:hover{
	background-color: var(--hover3Color);
}
#fourTry{
	background-color: var(--subject4Color);
}
#fourTry:hover{
	background-color: var(--hover4Color);
}
.rightHalf{
	width: 50%;
	float: left;
}
.leaderBoardtable{
	width: 100%;
	margin-top: 1vw;
	background-color: #6900d2;
	font-size: 1vw;
	text-align: center;
	color: white;
}
.headMini{
	width: 25%;
	border-right: 1px;
	text-align: center;
	background-color: #8000ff;
	color: white;
	border-right: solid;
	border-color: white;
	border-width: 1px;
	padding:.2vw;
}
.borderRight{
	border-right:solid;
	border-color: #6900d2;
	border-width: 1px;
}
.borderLeft{
	border-left:solid;
	border-left-color: #6900d2;
	border-width: 1px;
}
.borderBottom{
	border-bottom:solid;
	border-bottom-color: #6900d2;
	border-width: 1px;
}
.summaryRowMini{
	background-color: inherit;
	color: black;
	padding:.2vw;
}
.subjectSelector{
	width: 100%;
	background-color: white;
	padding: .1vw;
	text-align: center;
}
.buttonTable{
	padding: .2vw;
	text-align: center;
	width:25%;
	float: left;
	background-color: #6900e9;
	color: white;
	border: solid;
	border-width: 1px;
	border-color: #3f007e;
	cursor: pointer;
}
.buttonTable:hover{
	background-color: #6900D8;
}
.subjectCont{
	padding: .2vw;
	text-align: center;
	width:50%;
	float: left;
	background-color: #8000ff;
	color: white;
	border-bottom: solid;
	border-width: 1px;
	border-color: #3f007e;
}
.subjectTable{
	background-color:  #6900e9;
	font-size: 1vw;
}






