*{
	box-sizing: border-box;
}

/*---------------LogIN-----------------*/
.login{
	width: 80%;
	height: 30vw;
	margin: auto;
	margin-top: 5vw;
	background-color: #8080ff;
	padding: 1vw;
	
}
.panels{
	width: 50%;
	float: left;
	height: 100%;
	text-align: center;
	color: white;
	
}
#leftPanel{
	border-right-style: solid;
	border-color: whtie;
	border-width: 2px;
	font-size: 5vw;
}
.created{
	font-size: 2vw;
}
.formCon{
	width: 65%;
	margin: auto;
	padding: 1vw;
	background-color: rgba(255,255,255,.2);
	border-radius: .5vw;
	margin-top: 4vw;
	border-color: #8000ff;
	border-width: 3px;
	border-style: solid;
	
}
.formElements{
	display: block;
	text-align: left;
	width: 100%;
	font-size: 1.2vw;
	color: white;
}

#education, #subject, #name{
	font-size: 1vw;
	padding: .5vw;
	border-radius: .5vw;
	border-style: none;
	margin-bottom: .5vw;
	color: #8000ff;
}
#name{
	font-size: 1.5vw;
}
#submitButton{
	text-align: center;
	padding: .5vw;
	border-radius: .5vw;
	font-size: 1.8vw;
	background-color: #8000ff;
	border: none;
	margin-top: 1vw;
}
#submitButton:hover{
	background-color: #400080;
	cursor: pointer;
}




/*---------------LogIN-----------------*/

/*---------------Questionaire-----------------*/
.mainCon{
    width: 80%;
    display: block;
    margin: auto;
    background-color: aliceblue;
}
.title{
    width: 80%;
    margin: auto;
    background-color: white;
    font-size: 5vw;
    text-align: center;
}
.question{
    width: 80%;
    font-size: 3vw;
    text-align: left;
    background-color: yellow;
    margin:auto;
    padding: 1vw;
    
}
.questionAni{
	animation: ani;
	animation-duration: 2s;
}
@keyframes ani{
	 from {opacity: 0;}
	 to {opacity: 1;}
}
.choices{
	width: 80%;
    font-size: 1.5vw;
    text-align: left;
    background-color: green;
    margin:auto;
}
.choice{
	width: 50%;
	background-color: rgb(255, 255, 0)low;
	float: left;
	padding: 1vw;
	padding-bottom: 0;
}
.navigator{
	width: 80%;
	margin: auto;
}
.navButton{
	width: 50%;
	float: left;
	font-size: 3vw;
	padding: .5vw;
	padding-bottom: 0;
	background-color: green;
	cursor: pointer;
}
.navButton:hover{
	background-color: whtie;
}

#next{
	text-align: right;
}
.submit{
	width: 80%;
	text-align: center;
	font-size: 3vw;
	margin: auto;
	background-color: red;
}
#submitButtonQuestionnaire{
	font-size: 2vw;
	cursor: pointer;
}
/*---------------Questionaire-----------------*/
