<?xml version="1.0" encoding="UTF-8"?>

<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
 	xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
               http://www.springframework.org/schema/util
                    http://www.springframework.org/schema/util/spring-util-2.5.xsd">

	<bean id="history" class="com.survey.model.Subject">
			<constructor-arg value="History"></constructor-arg>
			
			<constructor-arg>
				<map>
					<entry key="What is?" value-ref="hist1" />
					<entry key="Who is?" value-ref="hist1" />
		
				</map>
			</constructor-arg> 	

	</bean>
	
	<util:map id="hist1" key-type="java.lang.String" value-type="java.util.HashMap">
	    <entry key="ans1" value-ref="hist1choices" />
	</util:map>
	
	<util:list id="hist1choices" value-type="java.lang.String">
	    <value>foo</value>
	    <value>bar</value>
	</util:list>

 
</beans>  


